# Composer
/vendor/
composer.phar

# Environment & Secrets
.env
includes/config.php

# PHP & Logs
*.log
error_log

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# project specific
/assets/img/generations/
